body {
  background-color: #e7e9eb;
}
.container {
  height: 150px;
  background-color: #ffffff;
  padding: 10px;
  font-size: 35px;
}
.subdiv {
  height: 100px;
  display: flex;
  flex-direction: row;
}
.header {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: rgb(29, 218, 89);
  color: white;
  padding: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: blue;
  padding: 10px;
  color: white;
  text-align: center;
}
