h1 {
  color: rgba(0, 255, 255, 0.5);
}
h1.fifth {
  background-color: rgba(0, 0, 255, 0.5);
  color: rgb(0, 255, 255);
}
#three {
  background-color: black;
  color: #00abcd;
}
.second {
  color: hsl(99, 43%, 33%);
}
h1[name="four"] {
  color: #ffff00;
}
h2[name="four"] {
  color: #ff0;
}
