.container {
  background-image: url("/images/background.png");
  color: yellow;
  border: violet;
  border-style: dotted;
  border-radius: 25px;
  text-align: center;
  font-size: large;
}
h1#sub {
  background-color: aqua;
  color: blueviolet;
}
body {
  background-color: aquamarine;
}
.header {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: rgb(29, 218, 89);
  color: white;
  padding: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: blue;
  padding: 10px;
  color: white;
  text-align: center;
}
.ulist {
  font-size: 25px;
  list-style: none;
}
.navigable {
  position: absolute;
}
